.main-footer{
    color: blanchedalmond;
    background-color: brown;

    padding-top: 3em;
   
    width: 100%;
    Position :relative;

     left :0;
     right: 0;
     bottom: 0;
     
 
Width:100%

}